<div class="container-fluid" id="last">
    <div class="row">
        <div class="container-fluid" id="awards">
            <div class="row">
                <div class="container">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-6 award">
                                <div class="row justify-content-center justify-content-md-start align-items-start">
                                    <p>В марте 2018 года компания ITELON подтвердила свой профессионализм, и получила партнерский сертификат DELL EMC в статусе Gold</p>
                                    <p><a href="Dell_EMC_Gold_Partner_Certificate_2018.pdf" target="_blank">Dell EMC Gold Partner 2018-2019</a></p>
                                    <!--                                        <img src="img/logo.png" alt="DELL EMC">-->
                                    <img src="%=static=%img/assets/header/logo.png" alt="DELL EMC">

                                </div>
                            </div>
                            <div class="col-12 col-sm-6 award">
                                <div class="row justify-content-center justify-content-md-end align-items-start">
                                    <p>Мы построили и запустили в эксплуатацию территориально-распределительную инфраструктуру из 40 серверов с центральным хранилищем и
                                        системой резервного копирования на базе Microsoft
                                        Hyper-V, Microsoft Windows Server и Microsoft SQL за 5 рабочих дней.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="contacts">
            <div class="row">
                <div class="container">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-sm-6 map">
                                <div class="row justify-content-center justify-content-md-start align-items-start">

                                    <div id="map"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 info">
                                <div class="row justify-content-center justify-content-md-start align-items-start">
<!--                                    <img src="img/company-logo.png" alt="ITELON">-->
                                    <img src="%=static=%img/assets/last/company-logo.png" alt="ITELON">
                                    <p>Актуальные решения для вашего бизнеса</p>
                                    <div class="contact">
                    <span class="location">
                      <svg><use xlink:href="#geo"></use></svg>
                      <span>г. Харьков,<br/>
                      Щелковское шоссе, д. 5<br/>
                      с 10:00 до 19:00</span>
                    </span>
                                        <a class="tel" href="tel:+7000540011">
                                            <svg>
                                                <use xlink:href="#phone"></use>
                                            </svg>
                                            <span>+48 511 768 718</span></a>
                                        <a class="email" href="mailto:work@dreamhowto.com">
                                            <svg>
                                                <use xlink:href="#letter"></use>
                                            </svg>
                                            <span>work@dreamhowto.com</span></a>
                                    </div>
                                    <div class="social col-12">
                                        <div class="row justify-content-between">
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#vk"></use>
                                                </svg>
                                            </a>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#fb"></use>
                                                </svg>
                                            </a>
                                            <a href="#" target="_blank">
                                                <svg>
                                                    <use xlink:href="#youtube"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
