<div class="container-fluid" id="first">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="textblock">
                    <h1>Серверы и системы хранения данных DELL EMC для бизнеса и государственных предприятий</h1>
                    <p><span class="intro">продано более 726 серверов DELL EMC</span> от золотого партнера DELL EMC с 14-летним опытом ИТ-интеграции</p>
                    <p>Воспользуйтесь нашим опытом! Опишите задачу и оставьте контактные данные* - мы свяжемся с вами в течение 15 минут</p>
                    <div class="btnholder">
                        <button class="btn" data-callform disabled>Отправить запрос</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pic right nolazy" style="background-image: url(static/img/assets/first/first-side.png)">
        <i class="shatter1"></i>
        <i class="shatter2"></i>
        <i class="shatter3"></i>
    </div>
</div>
