<div class="container-fluid" id="itelonpromo">
    <div class="row">
        <div class="container">
            <div class="col-12">
                <div class="row justify-content-start">
                    <div class="textblock">
<!--                        <img src="img/company-logo-white.png" alt="ITELON">-->
                        <img src="%=static=%img/assets/itelonpromo/company-logo-white.png" alt="ITELON">
                        <p>Предлагаем корпоративным и государственным клиентам лучшие технологические решения для задач любой сложности.
                            Работая с нами, вы получите не только качественное оборудование DELL EMC, но и всестороннюю профессиональную поддержку на любом этапе внедрения и
                            сопровождения продукта.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
