<div class="container-fluid" id="rightnow">
    <div class="pic left" data-src="%=static=%img/assets/rightnow/rightnow.png">
        <i class="shatter2 top"></i>
        <i class="shatter3 top"></i>
        <i class="shatter2"></i>
        <i class="shatter3"></i>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row justify-content-end">
                <div class="textblock">
                    <div class="h2">Купи сервер от 300 000 рублей и <span>получи второй блок питания на 750W в подарок</span></div>
                </div>
            </div>
        </div>
    </div>

</div>
