<div class="container-fluid barredbottom" id="whybest">

    <div class="container">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="textblock">
                    <h2>Почему серверы DELL EMC – лучшее решение на рынке?</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="listblock col-12">
                    <div class="row justify-content-center justify-content-md-between justify-content-start">
                        <div class="col-12 col-sm-auto listcol">
                            <dl class="row justify-content-center justify-content-lg-start">
                                <dt>Отличная цена</dt>
                                <dd>Серверное оборудование DELL EMC, пожалуй, лучшее по соотношению цена\качество. Американская надежность и высокий уровень сервисного
                                    обслуживания по цене, сопоставимой со стоимостью
                                    самосборных серверов
                                </dd>
                                <dt>Все со склада</dt>
                                <dd>В 97 % случаев вы получите серверы и СХД DELL EMC в течение 2–3 дней – собранные, проверенные, готовые к работе</dd>
                                <dt>Надежная поддержка</dt>
                                <dd>Все покупатели серверов и СХД DELL EMC получают круглосуточную поддержку через единый контакт-центр</dd>
                                <dt>Уход от ненужных расходов и сложной инфраструктуры</dt>
                                <dd>На базе продуктов DELL EMC легко построить открытую систему на основе актуальных стандартов, но не привязанную к одной технологии</dd>
                            </dl>
                        </div>
                        <div class="col-12 col-sm-auto listcol">
                            <dl class="row justify-content-center justify-content-lg-end">
                                <dt>Совместимость</dt>
                                <dd>Многие опции предыдущих поколений серверов DELL EMC совместимы с новыми моделями. Вам не придется менять дисковые накопители и другие
                                    компоненты, если вы решили купить более мощный
                                    сервер
                                </dd>
                                <dt>Гибкое решение сложных задач</dt>
                                <dd>DELL EMC предоставляет упрощенные интегрированные продукты, комфортные в использовании и достаточно гибкие, чтобы оперативно подстраиваться
                                    под меняющиеся потребности бизнеса
                                </dd>
                                <dt>Упрощение и автоматизация IT-задач</dt>
                                <dd>Серверы DELL EMC поддерживают автоматизированное развертывание и обновление, самостоятельно создают отчеты благодаря интегрированному
                                    контроллеру удаленного доступа и управляются без
                                    использования агентов
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
