<div class="container-fluid barredtop" id="modernsolves">
    <div class="container">
        <div class="col-12">
            <div class="row justify-content-start">
                <div class="textblock">
                    <h2>Серверные решения DELL EMC помогут вашему бизнесу идти в ногу со временем</h2>
                    <ul>
                        <li>На 99% ускоряют принятие бизнес-решений по аналитическим данным</li>
                        <li>На 85% автоматизируют развертывание приложений с помощью "цифровой рабочей силы"</li>
                        <li>На 80% сокращают время на управление ИТ, повышают уровень безопасность ИТ-среды</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="pic right" data-src="%=static=%img/assets/modernsolves/modernsolves.png">
    </div>
</div>
