<div class="container-fluid" id="howtobuy">
    <div class="container">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="textblock">
                    <h2>Как купить</h2>
                    <p>Мы работаем только с юридическими лицами</p>
                    <ol>
                        <li>Отправьте запрос</li>
                        <li>В течение 30 минут получите КП(*)</li>
                        <li>Отправьте в ответ реквизиты</li>
                        <li>Получите счет / договор (**)</li>
                        <li>Оплатите счет и пришлите копию платёжного поручения - в этот же момент мы начнём собирать ваш сервер!</li>
                        <li>Через 2-3 дня протестированный и собранный сервер бесплатно доставят в офис или на терминал транспортной компании в г. Харьков (***)</li>
                    </ol>

                </div>
                <div class="col-12 discl">
                    <div class="row">
                        <p>(*) В зависимости от задачи и конфигурации могут потребоваться дополнительная информация. В этом случае наш менеджер свяжется с вами в течение 15-20
                            минут в рабочее время с 9-00 до 19-00.</p>
                        <p>(**) Обычно согласование договора и обмен оригиналами занимает 2-3 рбочих дня</p>
                        <p>(***) При условии, что оборудование находится на складе, то есть в 97% случаях. Данные о сроках поставки указаны в коммерческом предложении, счете и
                            договоре поставки. Если помимо оборудования
                            вы заказали установку ПО - обычно это занимает ещё один рабочий день.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button class="btn yellow" data-callform disabled>Отправить запрос</button>
            </div>
        </div>

    </div>
</div>
