<div class="container-fluid featcont" id="goodterms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Предлагаем выгодные условия работы для государственных предприятий</h2>
                <p>Компания ITELON является надежным и опытным поставщиком для государственного сектора</p>
            </div>
        </div>
        <div class="row">
            <div class="featblock col-12">
                <div class="row justify-content-center align-items-stretch align-content-stretch">
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/goodterms/feat-docs.png"></div>
                        <span>Более 300 выполненных государственных контактов</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/goodterms/feat-hammer.png"></div>
                        <span>Работа в соответствии с законами ФЗ-44 и ФЗ-223</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/goodterms/feat-datafolder.png"></div>
                        <span>Помощь экспертов в разработке технического задания</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/goodterms/feat-download.png"></div>
                        <span>Профессиональные работы по внедрению, миграции и сопровождению</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
