<div class="container-fluid" id="samemoney">
    <div class="container">
        <div class="col-12">
            <div class="row justify-content-start">
                <div class="textblock">
                    <h2>Получайте больше производительности и сервиса <span>за те же деньги!</span></h2>
                    <p>В 97 % случаев мы доставляем серверы и СХД DELL EMC в течение 2–3 дней – не нужно ждать, ваши инвестиции начнут возвращаться уже через несколько
                        дней.</p>
                </div>
            </div>
        </div>
    </div>
</div>
