<div class="container-fluid featcont" id="featcontB">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Привыкли рационально распределять финансовые потоки?</h2>
            </div>
        </div>
        <div class="row">
            <div class="featblock col-12">
                <div class="row justify-content-center align-items-stretch align-content-stretch">
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/featcontB/feat-cloudfile.png"></div>
                        <span>Обеспечим предпродажное сопровождение и поддержку на лучших условиях</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/featcontB/feat-truck.png"></div>
                        <span>Организуем бесплатную доставку сервера, СХД и сетевого оборудования DELL EMC</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/featcontB/feat-database.png"></div>
                        <span>Соберем и протестируем конфигурацию на вашем объекте</span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                        <div class="img lazy" data-src="%=static=%img/assets/featcontB/feat-thumbsup.png"></div>
                        <span>Официальная гарантия от производителя - 3 года на большинство моделей серверов</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
