<div class="container-fluid featcont" id="leasing">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Или оформите лизинг – и уже завтра**<br/> вы оцените высокий потенциал оборудования DELL EMC:</h2>
            </div>
        </div>
        <div class="row">
            <div class="spoiler col-12">
                <div class="spoilerhead row">
                    <div class="col-12">1. Преимущества лизинга</div>
                </div>
                <div class="spoilerbody row">
                    <div class="col-12 textblock">
                        <ul>
                            <li>Можно вернуть НДС (18% от стоимости оборудования)</li>
                            <li>Экономия на налоге на прибыль (20% от стоимости оборудования)</li>
                            <li>Быстро и online решение (Предодобрение за 24 часа для любого региона РФ)</li>
                            <li>Высокая вероятность одобрения (80% одобрения у нас и всего 20% в банке)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="spoiler col-12">
                <div class="spoilerhead row">
                    <div class="col-12">2. Условия лизинга</div>
                </div>
                <div class="spoilerbody row">
                    <div class="col-12 textblock">
                        <ul>
                            <li>Финансирование сумм от 100 000 рублей до 5 000 000 рублей</li>
                            <li>На срок от 6 до 18 месяцев</li>
                            <li>Без залогов</li>
                            <li>Вероятность одобрения 80%</li>
                            <li>Авансовый платеж от 20%</li>
                            <li>Рассмотрение и одобрение в течение 24 часов <span>online</span></li>
                            <li>Полное сопровождение сделки от заявки до отгрузки</li>
                            <li>Для юридических лиц любой формы</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="spoiler col-12">
                <div class="spoilerhead row">
                    <div class="col-12">3. Клиенты – малый и средний бизнес, ИП и стартапы</div>
                </div>
                <div class="spoilerbody row">
                    <div class="col-12 textblock">
                        <ul>
                            <li>Микро и малый бизнес</li>
                            <li>ИП, ООО, ПАО, АО</li>
                            <li>МУП, ФГУП, Неком. организации</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="spoiler col-12">
                <div class="spoilerhead row">
                    <div class="col-12">4. Стандартный пакет документов для одобрения</div>
                </div>
                <div class="spoilerbody row justify-content-center">
                    <div class="col-12 textblock">
                        <table>
                            <tbody>
                            <tr>
                                <th>Уставные документы</th>
                                <th>Финансовые показатели</th>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li>копия свидетельства о государственной регистрации</li>
                                        <li>копия свидетельства о постановке на учет</li>
                                        <li>копия решения об избрании (назначении) руководителя организации</li>
                                        <li>копия паспорта гражданина РФ всех собственников бизнеса  и генерального директора(только страницы с пометками)</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li>Бухгалтерская отчетность за последние 2 отчетных периода (квартала) с пометками налогового органа</li>
                                        <li>Выписка с банковского счета компании за последние 6 месяцев (или за весь срок работы компании, если не превышает 6 месяцев)</li>
                                        <li>Договор аренды на помещение, где будет находиться предмет лизинга</li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="spoiler col-12">
                <div class="spoilerhead row">
                    <div class="col-12">5. Всего 6 шагов, и через неделю оборудование у вас!</div>
                </div>
                <div class="spoilerbody row">
                    <div class="col-12 textblock">
                        <ol class="row">
                            <li class="col-12 col-md-6">Отправляете заявку на оборудование</li>
                            <li class="col-12 col-md-6">В течение 30 минут получаете расчет стоимости оборудования и график платежей</li>
                            <li class="col-12 col-md-6">Отправляете стандартный пакет документов и в течение 24 часов получаете одобрение на лизинг</li>
                            <li class="col-12 col-md-6">В течение 2-3 дней согласуем и подписываем договоры</li>
                            <li class="col-12 col-md-6">Перечисляете аванс лизинговой компании (обычно 1-2 дня)</li>
                            <li class="col-12 col-md-6">Мы отгружаем вам оборудование в согласованные сроки (обычно 2-3 дня)</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- <div class="featblock col-12">
              <div class="row justify-content-center align-items-stretch align-content-stretch">
                <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                  <div class="img lazy" data-src="img/feat-team.png"></div>
                  <span>Оптимальное решение для юридических лиц со сроком регистрации от 3 лет</span>
                </div>
                <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                  <div class="img lazy" data-src="img/feat-paymentsuccess.png"></div>
                  <span>Требования к финансовому обороту заемщика – от 500 млн. рублей в год</span>
                </div>
                <div class="col-12 col-sm-6 col-md-3 justify-content-start align-items-center d-flex flex-column featitem">
                  <div class="img lazy" data-src="img/feat-graph.png"></div>
                  <span>Кредитные средства выделяются на развитие существующего бизнеса (не стартапа)</span>
                </div>
              </div>
            </div> -->
        </div>
    </div>
</div>
