<div class="container-fluid" id="benefitbuy">

    <div class="container">
        <div class="col-12">
            <div class="row justify-content-end">
                <div class="textblock">
                    <h2>Как выгодно купить серверы и системы хранения данных DELL EMC?</h2>
                    <p>Частному бизнесу и государственным предприятиям мы предлагаем:</p>
                    <ol>
                        <li>Хеджирование (фиксацию контрактов на поставку импортного оборудования в рублях)</li>
                        <li>Отсрочку платежа или покупку в рассрочку на выгодных условиях</li>
                        <li>Аккредитив и банковские гарантии</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="pic left" data-src="%=static=%img/assets/benefitbuy/benefitbuy.png">
    </div>
</div>
