<div class="container-fluid" id="figures">
    <div class="row">
        <div class="container">
            <div class="col-12">
                <div class="row">
                    <div class="textblock justify-content-between align-items-start col-12">
                        <div class="row">
                            <div class="col-12 col-md-4 textitem">
                                <div class="caption"><span>83 %</span> заказных проекта</div>
                                <p>заказных проекта доставляем за 3–4 недели</p>
                            </div>
                            <div class="col-12 col-md-4 textitem">
                                <div class="caption"><span>70 %</span> счетов</div>
                                <p>со склада отгружаем за 2 рабочих дня</p>
                            </div>
                            <div class="col-12 col-md-4 textitem">
                                <div class="caption"><span>2-3</span> рабочих дня</div>
                                <p>занимают работы по внедрению, миграции и виртуализации</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pic right" data-src="%=static=%img/assets/figures/figures.png">
            </div>
        </div>
    </div>
</div>
