<div class="container-fluid" id="store">

    <div class="container">
        <div class="col-12">
            <div class="row justify-content-center">
                <div class="textblock">
                    <h2>У нас на складе много другой продукции DELL EMC</h2>
                    <p>Помимо предоставленного в каталоге оборудования мы поставляем</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid products">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-4 product">
                    <div class="row justify-content-center">
                        <div class="caption">Блейд-серверы</div>
                        <div class="img lazy" data-src="%=static=%img/assets/store/store-1.jpg"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 product">
                    <div class="row justify-content-center">
                        <div class="caption">Сетевое оборудование</div>
                        <div class="img lazy" data-src="%=static=%img/assets/store/store-2.jpg"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-4 product">
                    <div class="row justify-content-center">
                        <div class="caption">Рабочие станции DELL EMC</div>
                        <div class="img lazy" data-src="%=static=%img/assets/store/store-3.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
